
src/StagingLogCollector/.vs/StagingLogCollector/DesignTimeBuild/.dtbcache
src/.vs/
src/StagingLogCollector/.vs/StagingLogCollector/v15/.suo
src/StagingLogCollector/.vs/
src/StagingLogCollector/bin/
src/StagingLogCollector/obj/
src/StagingLogCollector.sln.DotSettings.user
